<!DOCTYPE html>
<html lang="en">
<head>
  <title>alluser</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>All User Submmited Data:-</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>User Name</th>
        <th>Date of Birth</th>
        <th>Email</th>
        <th>Contact</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          {% for i in data %}
        <td>{{i.name}}</td>
        <td>{{i.dob}}</td>
        <td>{{i.email}}</td>
        <td>{{i.phone_number}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</body>
</html>
